<script lang="ts" context="module">
  export function preload({query: {title, message}}) {
    return {title: title || "404", message: message || "The requested page, item or resource you were looking for does not exist, or you don't have access for it"}
  }
</script>

<script lang="ts">
  export let title: string;
  export let message: string;
</script>

<style>
  h1, p {
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<h1>{title}</h1>

<p>{message}</p>

