<script lang="ts" context="module">
  export function preload(_page: any, { url, key }) {
    return { url, key };
  }
</script>

<script lang="ts">
  import { createClient } from "@supabase/supabase-js";
  import { user } from "../util/stores";
  import { onMount, setContext } from "svelte";
  import Nav from "../components/Nav.svelte";

  export let url: string;
  export let key: string;

  const supabase = createClient(url, key);

  onMount(() => {
    $user = supabase.auth.user();
    supabase.auth.onAuthStateChange((evt) => {
      if (["SIGNED_IN", "SIGNED_OUT"].includes(evt))
        $user = supabase.auth.user() ?? null;
    });
  });

  setContext("supabase", supabase);
</script>

{#if $user !== undefined}
  <Nav />
  <slot />
{/if}
