<script lang="ts">
  import { getContext } from "svelte";
  import { goto } from "@sapper/app";
  import type { SupabaseClient } from "@supabase/supabase-js";
  import { user } from "../util/stores";

  const supabase = getContext<SupabaseClient>("supabase");
  let m = false;
  let email = "",
    password = "";

  async function gh() {
    await supabase.auth.signIn(
      { provider: "github" },
      { redirectTo: window.location.origin + "/auth" }
    );
  }

  async function s() {
    try {
      if (m) {
        const { error } = await supabase.auth.signIn(
          { email, password },
          { redirectTo: window.location.origin + "/auth" }
        );
        if (error) alert(error.message);
        else window.location.href = "/";
      } else {
        const { error } = await supabase.auth.signUp(
          { email, password },
          { redirectTo: window.location.origin + "/auth" }
        );
        if (error) alert(error.message);
        m = true;
      }
    } catch (e) {
      console.error(e);
      alert(e.message);
    }
  }

  $: if ($user && typeof window !== "undefined") {
    supabase
      .from("users")
      .insert({ id: $user.id, user: supabase.auth.user() })
      .then(() => goto("/"));
  }
</script>

<svelte:head>
  <title>Authenticate</title>
</svelte:head>

<div class="w3-border w3-border-gray w3-margin w3-padding">
  <h3>Authenticate</h3>

  <form class="w3-margin" on:submit|preventDefault={s}>
    <h5
      style="display: flex; justify-content: space-between; align-items: center">
      <span>{m ? "Login" : "Register"}</span>
      <button class="w3-button w3-blue" on:click={() => (m = !m)} type="button">
        {!m ? "Login" : "Register"}
      </button>
    </h5>

    <p>
      <label for="email">Email</label>
      <input
        bind:value={email}
        type="email"
        class="w3-input w3-border w3-border-gray" />
    </p>
    <p>
      <label for="password">Password</label>
      <input
        bind:value={password}
        type="password"
        class="w3-input w3-border w3-border-gray" />
    </p>
    <p>
      <button class="w3-button w3-black w3-hover-black"
        >{m ? "Login" : "Register"}</button>
    </p>
  </form>

  <hr />

  <p>
    <button class="w3-button w3-black w3-hover-black" on:click={gh}
      >Sign in with Github</button>
  </p>
</div>
