<script lang="ts">
  import type{ SupabaseClient } from "@supabase/supabase-js";
  import {goto} from "@sapper/app"
  import { getContext } from "svelte";
  import { user } from "../util/stores";

  const supabase = getContext<SupabaseClient>("supabase")

  async function s() {
    const id = (document.getElementById("id") as HTMLInputElement)?.value
    if (!id) return;
    const {data} = await supabase.from("meetings").select("id").filter("id", "eq", parseInt(id))
    if (!data?.length) return alert("Invalid meeting ID");
    const m = data[0]
    goto("/meeting/" + m?.id)
  }
</script>

<svelte:head>
  <title>meetings</title>
</svelte:head>

{#if $user}
  <div class="w3-border w3-border-gray w3-margin w3-padding">
    <h3>Join Meeting</h3>
    <form class="w3-margin" on:submit|preventDefault={s}>
      <p>
        <label for="id">Meeting ID</label>
        <input type="number" class="w3-input w3-border w3-border-gray" id="id">
      </p>
      <p>
        <button class="w3-button w3-black">Join meeting</button>
      </p>
    </form>
  </div>
{/if}
