<script lang="ts">
  import type { SupabaseClient } from "@supabase/supabase-js";
  import { getContext, onMount } from "svelte";

  const supabase = getContext<SupabaseClient>("supabase");

  onMount(() => {
    supabase.auth
      .signOut()
      .then(() => (window.location.href = "/"))
      .catch(() => (window.location.href = "/"));
  });
</script>
