<script lang="ts">
  import { user } from "../util/stores";
  import {goto} from "@sapper/app";
  import { getContext, onMount } from "svelte";
  import type { SupabaseClient } from "@supabase/supabase-js";

  const supabase = getContext<SupabaseClient>("supabase")

 async function s() {
    const m = await supabase.from("meetings").insert({host_id: $user.id});
    if (m?.data[0])
    goto("/meeting/" + m.data[0].id)
  }

  onMount(() => {
    if (!$user) goto("/login");
  })
</script>

<svelte:head>
  <title>Create new meeting</title>
</svelte:head>

{#if $user}
  <div class="w3-border w3-border-gray w3-margin w3-padding">
    <h3>Create meeting</h3>
    <p>
      <button class="w3-button w3-black w3-hover-black" on:click={s}>Create meeting</button>
    </p>
  </div>
{/if}
