<script lang="ts" context="module">
  export function preload(
    { params: { slug } },
    { openViduUrl, openViduSecret }
  ) {
    return { id: slug, url: openViduUrl, secret: openViduSecret };
  }
</script>

<script lang="ts">
  import type { SupabaseClient } from "@supabase/supabase-js";
  import { getContext, onDestroy, onMount } from "svelte";
  import { goto } from "@sapper/app";
  import { user } from "../../util/stores";
  import Meeting from "../../components/Meeting.svelte";
  import axios from "axios";
  import type {
    OpenVidu,
    Session,
    StreamEvent,
    Subscriber,
    Publisher,
  } from "openvidu-browser";

  interface Chat {
    author: string;
    msg: string;
  }

  export let id: string;
  export let url: string;
  export let secret: string;
  const supabase = getContext<SupabaseClient>("supabase");
  let meeting: { id: number; host_id: string; chat: Chat[]; members: any[] };
  let inMeeting = false;
  let perms = true;

  onMount(async () => {
    if (!$user) return goto("/auth");

    const { data } = await supabase
      .from("meetings")
      .select()
      .filter("id", "eq", parseInt(id));

    if (!data?.length) return goto("/404?title=Meeting not found");

    meeting = data[0];
    // await getStream();
  });

  async function getStream() {
    try {
      const media =
        typeof navigator !== undefined &&
        "mediaDevices" in navigator &&
        "getUserMedia" in navigator.mediaDevices;

      if (!media) {
        return goto(
          "/404?title=Your browser doesn't support WebRTC&message=Please upgrade your browser or switch to a browser that supports WebRTC, like Chrome or Firefox"
        );
      }

      const stream = await navigator.mediaDevices.getUserMedia({
        video: true,
        audio: true,
      });
      stream.getTracks().forEach((track) => track.stop());
      perms = true;
    } catch (e) {
      console.error(e);
    }
  }

  async function joinMeeting() {
    if (!$user) return goto("/auth");
    if (!meeting.members.find((m) => m.id === $user.id))
      await supabase
        .from("meetings")
        .update({ members: meeting.members.concat([$user]) })
        .filter("id", "eq", meeting.id);
    inMeeting = true;
  }

  onDestroy(async () => {
    await supabase
      .from("meetings")
      .update({
        members: meeting.members.filter((member) => member.id !== $user.id),
      })
      .filter("id", "eq", meeting.id);
  });
</script>

{#if meeting}
  {#if inMeeting}
    <Meeting
      {supabase}
      {meeting}
      {url}
      {secret}
      on:leave={() => (window.location.href = "/")} />
  {:else}
    <div class="w3-card w3-border w3-border-gray w3-margin w3-padding">
      <h1>Joining meeting</h1>
      {#if !perms}
        <p>Allow us access to your camera and microphone please!</p>
        <p>
          <button
            class="w3-button w3-black w3-large w3-hover-black"
            on:click={getStream}>Request access</button>
        </p>
      {:else}
        <p>
          <button
            class="w3-button w3-black w3-large w3-hover-black"
            on:click={joinMeeting}>Join meeting</button>
        </p>
      {/if}
    </div>
  {/if}
{:else}
  <p class="w3-center w3-large w3-text-gray">Loading...</p>
{/if}
