<script lang="ts">
  import type { SupabaseClient } from "@supabase/supabase-js";
  import { createEventDispatcher, onDestroy, onMount, tick } from "svelte";
  import { goto } from "@sapper/app";
  import { user } from "../util/stores";
  import type {
    OpenVidu,
    Session,
    Subscriber,
    Publisher,
    StreamEvent,
  } from "openvidu-browser";
  import axios from "axios";
  import UserVideo from "./UserVideo.svelte";

  interface Chat {
    author: string;
    msg: string;
  }

  export let supabase: SupabaseClient;
  export let meeting: { id: number; host_id: string; chat: Chat[] };
  export let url: string;
  export let secret: string;
  const d = createEventDispatcher();
  let ov: OpenVidu;
  let publisher: Publisher;
  let subscribers: Subscriber[] = [];
  let session: Session;
  let pubVideo = false;
  let pubAudio = false;
  const subscription = supabase
    .from("meetings:id=eq." + meeting.id)
    .on("UPDATE", async (payload) => {
      if (!payload) return;
      meeting = payload.new;
      await tick();
    })
    .subscribe();
  let message: string = "";

  async function getToken() {
    if (!session) return;
    try {
      const sessionId = await createSession(meeting.id.toString());
      if (!sessionId) return;

      const token = await createToken(sessionId);
      return token;
    } catch (e) {
      alert(e.message);
      console.error(e);
    }
  }

  async function createSession(sessionId: string) {
    try {
      const response = await axios.post(
        url + "/openvidu/api/sessions",
        { customSessionId: sessionId },
        {
          headers: {
            Authorization: "Basic " + btoa("OPENVIDUAPP:" + secret),
            "Content-Type": "application/json",
          },
        }
      );
      console.log("CREATE SESSION", response);
      return response.data.id;
    } catch (response_1) {
      var error = Object.assign({}, response_1);
      if (error.response.status === 409) {
        return sessionId;
      } else {
        console.log(error);
        console.warn(
          "No connection to OpenVidu Server. This may be a certificate error at " +
            url
        );
        if (
          window.confirm(
            'No connection to OpenVidu Server. This may be a certificate error at "' +
              url +
              '"\n\nClick OK to navigate and accept it. ' +
              'If no certificate warning is shown, then check that your OpenVidu Server is up and running at "' +
              url +
              '"'
          )
        ) {
          window.location.assign(url + "/accept-certificate");
        }
      }
    }
  }

  async function createToken(sessionId: string) {
    try {
      const response = await axios.post(
        url + "/openvidu/api/sessions/" + sessionId + "/connection",
        {},
        {
          headers: {
            Authorization: "Basic " + btoa("OPENVIDUAPP:" + secret),
            "Content-Type": "application/json",
          },
        }
      );
      console.log("TOKEN", response);
      return response.data.token;
    } catch (error) {
      throw error;
    }
  }

  onMount(async () => {
    const _openVidu = await import("openvidu-browser");

    ov = new _openVidu.OpenVidu();
    session = ov.initSession();

    session.on("streamCreated", (event: StreamEvent) => {
      let subscriber = session.subscribe(event.stream, undefined);
      subscribers = [...subscribers, subscriber];
    });

    session.on("streamDestroyed", (event: StreamEvent) => {
      event.preventDefault();

      subscribers = subscribers.filter((s) => s !== event.stream.streamManager);
    });

    getToken().then((token) => {
      session.connect(token, { clientData: $user.email }).then(() => {
        let p = ov.initPublisher(undefined, {
          publishAudio: false,
          publishVideo: false,
        });

        session.publish(p);
        publisher = p;
      });
    });
  });

  async function k(e: { key: string }) {
    if (e.key.toLowerCase() !== "enter") return;
    if (!message.trim()) return;

    const input = document.getElementById("chat-input") as HTMLInputElement;

    input.disabled = true;
    const { error } = await supabase
      .from("meetings")
      .update({
        chat: meeting.chat.concat([
          { author: $user.email, msg: message.trim() },
        ]),
      })
      .filter("id", "eq", meeting.id);

    if ((error?.code as any) == 401) goto("/auth");

    input.disabled = false;
    message = "";
  }

  function leave(redirect = true) {
    if (!session) return;
    session.disconnect();
    session = undefined;
    subscribers = [];
    publisher = undefined;
    ov = undefined;

    if (redirect) d("leave");
  }

  onDestroy(async () => {
    await supabase.removeSubscription(subscription);
    leave(false);
  });
</script>

<style>
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1ch;
  }

  .chat {
    border-left: 1px gray solid;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 95% 5%;
  }

  .chat-messages {
    padding: 1rem;
    overflow: auto;
  }

  .message {
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .message .author {
    font-weight: bold;
  }

  .message .msg {
    color: gray;
  }

  .chat-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px gray solid;
  }

  .chat-input:disabled {
    background-color: #aaa;
  }
</style>

<main>
  <section class="videos">
    <h1 class="w3-center">Meeting {meeting.id}</h1>

    <p class="controls">
      <button
        class="w3-button w3-green"
        on:click={() => {
          pubVideo = !pubVideo;
          publisher.publishVideo(pubVideo);
        }}><i class="fas fa-video{pubVideo ? '' : '-slash'}" /></button>
      <button
        class="w3-button w3-blue"
        on:click={() => {
          pubAudio = !pubAudio;
          publisher.publishAudio(pubAudio);
        }}><i class="fas fa-microphone{pubAudio ? '' : '-slash'}" /></button>
      <button class="w3-button w3-red" on:click={() => leave(true)}
        ><i class="fas fa-phone-slash" /></button>
    </p>

    {#if publisher}
      <UserVideo streamManager={publisher} />
    {/if}

    {#if subscribers}
      <div
        class="w3-margin"
        style="display: grid; grid-template-columns: 50% 50%; gap: 1ch">
        {#each subscribers as s}
          <UserVideo streamManager={s} />
        {/each}
      </div>
    {/if}
  </section>

  <aside class="chat">
    <section class="chat-messages">
      {#each meeting.chat as chat}
        <article class="message">
          <span class="author">{chat.author}: </span>
          <span class="msg">{chat.msg}</span>
        </article>
      {/each}
    </section>
    <input
      type="text"
      class="chat-input"
      on:keydown={k}
      placeholder="Enter message and press Enter"
      id="chat-input"
      bind:value={message} />
  </aside>
</main>
