<script>
  import { user } from "../util/stores";
</script>

<div class="w3-bar w3-black">
  <a href="/" class="w3-bar-item w3-button w3-hover-black">Meetings</a>
  <div class="w3-right">
    {#if !$user}
      <a href="/auth" class="w3-bar-item w3-button w3-blue w3-hover-blue"
        >Get Started</a>
    {:else}
      <a href="/logout" class="w3-bar-item w3-button w3-hover-black">Logout</a>
      <a href="/new" class="w3-bar-item w3-button w3-blue w3-hover-blue"
        >New meeting</a>
    {/if}
  </div>
</div>
