<script lang="ts">
  import type { Subscriber, Publisher } from "openvidu-browser";

  export let streamManager: Subscriber | Publisher;
  export let video: HTMLVideoElement = undefined;

  $: if (video) streamManager.addVideoElement(video);
</script>

<div class="w3-margin">
  <video bind:this={video} />
  <p>{JSON.parse(streamManager.stream.connection.data).clientData}</p>
</div>
